<h1 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif ;">Contact</h1> <br>
  <div class="row">
    <div class="col-md-6 border">
      <div class="card-body">
        <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif ;" class="card-title">Contact Me</h4>
        <p class="card-text"></p>
        <img class="card-img-bottom" src="../images/b2.jpg" alt="Card image" style="width:100%">
        <a href="#" class="btn btn-primary mt-4">See profile</a>
        <div style="margin-top: 10px; ">
          <ul class="social-icons">
            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.Github.com"><i class="fab fa-github"></i></a> 
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 border">
      <form action="/contact/send" method="post">
        <h2 style="text-align:center; font-family: Verdana, Geneva, Tahoma, sans-serif;">Tell us</h2>

        <input style="margin-left: 150px; margin-top:60px;" type="text" name="name" id="name" placeholder="Name"><br><br>
        <input style="margin-left: 150px; margin-top:10px;" type="text" name="email" id="email" placeholder="Email"><br><br>
        <input style="margin-left: 150px; margin-top:10px;" type="text" name="message" id="message" placeholder="Message"><br><br>
        <input style="margin-left: 220px; margin-top:10px;" type="submit" name="submit" id="submit">
      </form>
    </div>
  </div>