<h1 class="text-center">Samsung</h1>
<img src="../images/Samsung_headquarters.jpg" style="float: left;padding-right: 10px;">
<p>
    The Samsung Group or simply Samsung stylized as SΛMSUNG is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town Seoul South Korea. It comprises numerous affiliated businesses most of them united under the Samsung brand and is the largest South Korean chaebol business conglomerate. As of 2020, Samsung has the 8th highest global brand value.
    
</p>
<hr style="margin-top:100px;">
  
<h1 class="text-center">History</h1>
<img src="../images/The-history-of-samsung4_m.jpg" style="float: right;padding-left: 10px;width: 300px;height: 200px;">
<p>
    In 1938, during Japanese-ruled Korea, Lee Byung-chul (1910 1987) of a large landowning family in the Uiryeong county moved to nearby Daegu city and founded Mitsuboshi Trading Company  Kabushiki gaisha Mitsuboshi Shōkai or Samsung Sanghoe.Samsung started out as a small trading company with forty employees located in Su-dong now Ingyo-dong. It dealt in dried-fish locally-grown groceries and noodles. The company prospered and Lee moved its head office to Seoul in 1947. When the Korean War broke out he was forced to leave Seoul. He started a sugar refinery in Busan named Cheil Jedang. In 1954 Lee founded Cheil Mojik and built the plant in Chimsan-dong Daegu. It was the largest woollen mill ever in the country.
    
</p>
<hr style="margin-top:100px;">

<h1 class="text-center">1970 1990</h1>
<img src="../images/180px-Lee_Byung-chul.jpg" style="float:left;padding-right: 10px;width: 300px;height: 290px;">
<p>
    In 1980 Samsung acquired the Gumi-based Hanguk Jeonja Tongsin and entered telecommunications hardware. Its early products were switchboards. The facility was developed into the telephone and fax manufacturing systems and became the center of Samsung's mobile phone manufacturing. They have produced over 800 million mobile phones to date. The company grouped them together under Samsung Electronics in the 1980s.
    
</p>
<hr style="margin-top:250px;">
  



