<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/bootstrap5.min.css">
  <script src="javascripts/navbar.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <link rel="stylesheet" href="stylesheets/signup.css">
  <link rel="stylesheet" href="stylesheets/contact.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>Samsung</title>
</head>
<body>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <a href="/" style="text-decoration: none;color:white; margin-left: 25px;">Samsung</a>  
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links" style="margin-left:950px">
      <a href="/service">OurService</a>
      <a href="/contact">Contact Us</a>
      <a href="/signup">Sign Up</a>
      <a href="/signin">Sign In</a>
      
     
    </div>
  </div>


<div class="myheader">
<img src="../images/samsung.jpg" style="width:100%;height:370px">
</div>



<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
    <a href="/" style="text-decoration: none;color:white; margin-left: 25px;">Samsung</a>  
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links" style="margin-left:390px;;">
    <a href="/mobile">Mobile</a>
    <a href="/tv">TV & AV</a>
    <a href="/homeApp">Home Appliance</a>
    <a href="/Shop">Shop</a>
    <a href="/register">Register</a>
  </div>
</div>

<div class="container-fluid" style="margin-top:10px"> 
<div class="row">
  <div class="col-md-3 bg-light text-dark" style="height:auto;">
    <h1 class="text-center" style="margin-bottom:30px">New Product</h1>
    <img src="../images/s22ultra.jpg" style="width: 300px;height:250px" >
    <p style="margin-top:30px;  font-family: 'Roboto Condensed', sans-serif">
      The S22 Ultra retains its predecessor s 108 MP sensor with 12-bit HDR. It also has two 10 MP telephoto sensors with 3x and 10x optical zoom as well as a 12 MP ultrawide sensor. The front-facing camera uses a 10 MP sensor on the S22 and S22+ and a 40 MP sensor on the S22 Ultra.
    </p>
    <hr>
    <h1 class="text-center" style="margin-bottom:30px">Z-Fold 3</h1>
    <img src="../images/sgzf35g-cov-sel-5-1026673-1634198801 (1).jpg" style="width:300px;height:250px">
    <p style="margin-top:30px;  font-family: 'Roboto Condensed', sans-serif">
      The Samsung Galaxy Z Fold 3 (stylized as Samsung Galaxy Z Fold3 sold as Samsung Galaxy Fold 3 in certain territories) is a foldable smartphone that is part of the Samsung Galaxy Z series. It was revealed by Samsung Electronics on August 11 2021 at the Samsung Unpacked event alongside the Z Flip 3. It is the successor to the Samsung Galaxy Z Fold 2.
      In March 2022 Samsung rebranded the device as Galaxy Fold 3 in certain Eastern European territories for sensitivity reasons relating to the Russian invasion of Ukraine.
      </p>
  </div>


  <div class="col-md-9 bg-light text-dark" style="border-left: 3px solid white;">
    <%- body%>
  </div>

</div>

</div>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">All researchers and developers throughout the world are working to discover the next life-changing technologies to create new values and make a better world.We are expanding our highly differentiated mobile devices, as well as working hard to develop next-generation innovation.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="/mobile" style="text-decoration: none;">Mobile</a></li>
            <li><a href="/tv" style="text-decoration: none;">TV & AV</a></li>
            <li><a href="/homeApp" style="text-decoration: none;">Home Appliance</a></li>
            <li><a href="/shop" style="text-decoration: none;">Shop</a></li>
           
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>developer</h6>
          <p>Esmatullah Rahmani</p>
          <img style="width:100px; height: 100px; border-radius: 50px;" src="../images/esmat.jpg.jpg" alt="">
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by Esmatullah Rahmani
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.Github.com"><i class="fab fa-github"></i></a> 
          </ul>
        </div>
      </div>
    </div>
</footer>


</body>
</html>