<h1 class="text-center">First Product</h1>
<img src="../images/firstproduct.jpg" style="float: left;padding-right: 10px;width: 350px;height: 300px;">
<p>
    
    Samsung, South Korean company that is one of the world s largest producers of electronic devices. Samsung specializes in the production of a wide variety of consumer and industry electronics, including appliances, digital media devices, semiconductors, memory chips, and integrated systems. It has become one of the most-recognizable names in technology and produces about a fifth of South Korea s total exports.
</p>
<hr style="margin-top:200px;">
  





<h1 class="text-center">2015 Product</h1>
<img src="../images/samsung-apr-29-2015-a-man-uses-a-samsung-mobile-phone-at-galaxy-zone-EN8W6K.jpg" style="float: right;padding-left: 10px;width: 300px;height: 200px;">
<p>
    Samsung Electronics Ltd.Samseong Jeonja; lit. Tristar Electronics, sometimes shortened to SEC and stylized as SΛMSUNG is a South Korean multinational electronics corporation headquartered in Yeongtong-gu Suwon South Korea. It is the pinnacle of the Samsung chaebol, accounting for 70% of the group's revenue in 2012. Samsung Electronics has played a key role in the group's corporate governance due to circular ownership. Samsung Electronics has assembly plants and sales networks in 74 countries and employs around 290,000 people.
    
</p>
<hr style="margin-top:100px;">



<h1 class="text-center">2022 Products</h1>
<img src="../images/product2022.jpg" style="float: left;padding-right: 10px;width: 350px;height: 300px;">
<p>
    Samsung announced the midrange Samsung Galaxy A53 and Samsung Galaxy A33 smartphones at its March 2022 Unpacked event. Both are worthy competitors to Apple's iPhone SE and Google's Pixel 5a and feature bigger, longer-lasting batteries, upgraded chips, and beautiful screens.
    
</p>
<hr style="margin-top:270px;">