<h1 class="text-center">OurService</h1>



<div class="container shadow mt-5 border">
    <div class="row">
        <div class="col-md-4 col-sm-6 bg-light text-center border-end border-bottom py-5 px-3">
            <i class="bi bi-people text-danger fs-1"></i>
            <h4 class="mb-3 fw-normal text-uppercase">Mobile</h4>
            <p class="text-secondary">We are unique in building our mobile technology</p>
        </div>
        <div class="col-md-4 col-sm-6 bg-light text-center border-end border-bottom py-5 px-3">
            <i class="bi bi-images text-danger fs-1"></i>
            <h4 class="mb-3 fw-normal text-uppercase">TV</h4>
            <p class="text-secondary">Buy the world's best shows from us</p>
        </div>
        <div class="col-md-4 col-sm-6 bg-light text-center border-bottom py-5 px-3">
            <i class="bi bi-shop text-danger fs-1"></i>
            <h4 class="mb-3 fw-normal text-uppercase">Computers</h4>
            <p class="text-secondary">All of samsung Computers desktop, laptop mini books and more models can buy it</p>
        </div>
        <div class="col-md-4 col-sm-6 bg-light text-center border-end py-5 px-3">
            <i class="bi bi-pencil-square text-danger fs-1"></i>
            <h4 class="mb-3 fw-normal text-uppercase">Home appliance</h4>
            <p class="text-secondary">Buy all home appliances, gas refrigerator, washing machine, air conditioner, AC from Samsung</p>
        </div>
        <div class="col-md-4 col-sm-6 bg-light text-center border-end py-5 px-3">
            <i class="bi bi-briefcase text-danger fs-1"></i>
            <h4 class="mb-3 fw-normal text-uppercase">Camera</h4>
            <p class="text-secondary">our models NX,NX1,NXC,NX500,NX20,NX MINI,NX2000,NX3000,NX1100,NX60,NX5</p>
        </div>
        <div class="col-md-4 col-sm-6 bg-light text-center py-5 px-3">
            <i class="bi bi-book text-danger fs-1"></i>
            <h4 class="mb-3 fw-normal text-uppercase">audio</h4>
            <p class="text-secondary">samsung mp3 player <br>samsung mp4 player <br>samsung mp5 player
            </p>
        </div>
    </div>
</div>